DirectoryIndex index.php
Options -Indexes 
php_value error_reporting E_ALL
AddDefaultCharset utf-8
#AddHandler application/x-httpd-php .html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# URL rewrite in NGINX:
# try_files $uri $uri/ /$uri.php;