DirectoryIndex index.php
Options -Indexes 

AddDefaultCharset utf-8
#AddHandler application/x-httpd-php .html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ /index.php?page=$1 [NC]

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

# URL rewrite in NGINX:
# IN location / { ...
#if (!-f $request_filename){
#	set $rule_0 1$rule_0;
#}
#if ($rule_0 = "1"){
#	rewrite ^/([^\.]+)$ /index.php?page=$1;
#}
